1

In [ ]:
input_string = input("Enter a string: ")

# Creating a dictionary to store character counts
char_count = {}

# Counting each character in the string
for char in input_string:
    char_count[char] = char_count.get(char, 0) + 1

# Displaying the count of each character
for char, count in char_count.items():
    print(f"{char}={count}", end=', ')

Enter a string value: assembly
a=1, s=2, e=1, m=1, b=1, l=1, y=1,

2

In [ ]:
def find_maximum(num1, num2, num3):
    return max(num1, num2, num3)
number1 = float(input("Enter the first number: "))
number2 = float(input("Enter the second number: "))
number3 = float(input("Enter the third number: "))

maximum_number = find_maximum(number1, number2, number3)
print("The maximum of the three numbers is:", maximum_number)

Enter the first number: 34
Enter the second number: 12
Enter the third number: 7
The maximum of the three numbers is: 34.0

3

In [ ]:
def exponent(base, exp):
    result = base ** exp
    return result


base_value = float(input("Enter the base: "))
exponent_value = float(input("Enter the exponent: "))

result = exponent(base_value, exponent_value)
print(result)

Enter the base: 2
Enter the exponent: 3
8.0

4

In [ ]:
def sum_of_cubes(n):
    if n <= 0:
        return "Please enter a positive integer."


    sum_cubes = 0

    for i in range(1, n):
        sum_cubes += i ** 3

    return sum_cubes

num = int(input("Enter a positive integer: "))
result = sum_of_cubes(num)
print("Sum of cubes:", result)

Enter a positive integer: 4
Sum of cubes: 36

5

In [ ]:
for number in range(1, 11):
    if number % 2 == 0 and number % 5 == 0:
        print("FizzBuzz")
    elif number % 2 == 0:
        print("Fizz")
    elif number % 5 == 0:
        print("Buzz")
    else:
        print(number)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

6

In [ ]:
numbers = [int(num) for num in input("Enter numbers separated by commas: ").split(',')]

print("List of numbers:", numbers)

most_frequent = max(set(numbers), key=numbers.count)

print(f"The most frequent item is: {most_frequent}")

Enter numbers separated by commas: 2,3,4,2,5,2
List of numbers: [2, 3, 4, 2, 5, 2]
The most frequent item is: 2

7

In [ ]:
numbers = [int(num) for num in input("Enter numbers separated by commas: ").split(',')]

print("List of numbers:", numbers)
sum_of_squares = sum(x**2 for x in numbers)


print(f"The sum of squares is: {sum_of_squares}")

Enter numbers separated by commas: 2,1,3,1
List of numbers: [2, 1, 3, 1]
The sum of squares is: 15

8

In [ ]:
for number in range(1, 16):
    # Checking if the current number is odd or even
    if number % 2 == 0:
        print(f"{number} is even")
    else:
        print(f"{number} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd

9

In [ ]:
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

def fahrenheit_to_celsius(fahrenheit):
    return (fahrenheit - 32) * 5/9


fahrenheit = float(input("Enter temperature in Fahrenheit: "))
print(f"{fahrenheit} degrees Fahrenheit is equal to {fahrenheit_to_celsius(fahrenheit):.2f} degrees Celsius")

Enter temperature in Fahrenheit: 41
41.0 degrees Fahrenheit is equal to 5.00 degrees Celsius

10

In [ ]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

number = int(input("Enter a non negative integer: "))
result = factorial(number)
print(f"The factorial of {number} is: {result}")

Enter a non negative integer: 3
The factorial of 3 is: 6