PRACTICE PROBLEMS-SET1

1

In [ ]:
import math
radius = float(input("Enter the radius: "))
area = math.pi * (radius ** 2)
print(f"Area of Circle is ",area)

Enter the radius: 3
Area of Circle is  28.274333882308138

2

In [ ]:
name = input("Enter the name: ")
roll_number = input("Enter the roll number: ")

mark = float(input("Enter the mark: "))

# Displaying the details
print("Name:", name)
print("Roll No:", roll_number)
print("Mark:", mark)

Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Name: Anisha
Roll No: 21
Mark: 78.0

3

In [ ]:
numbers = input("Enter the numbers : ").split(',')
largest_number=max(map(int, numbers))
print(f"{largest_number} is the largest number.")

Enter the numbers : 12,3,47,10
47 is the largest number.

4

In [ ]:
previous_number = 0
for current_number in range(1, 11):
    current_sum = current_number + previous_number
    print(f"Current Number {current_number} Previous Number {previous_number} Sum: {current_sum}")
    previous_number = current_number

Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17
Current Number 10 Previous Number 9 Sum: 19

5

In [ ]:
numbers=[int(num) for num in input("Enter numbers separated by commas: ").split(',')]
for num in numbers:
    if num % 5 == 0:
        print(num)

Enter numbers separated by commas: 10,20,33,46,55
10
20
55

6

In [ ]:
num = int(input("Enter the number: "))
if num > 1:
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            print(f"{num} is not a prime number")
            break
    else:
        print(f"{num} is a prime number")
else:
    print(f"{num} is not a prime number")

Enter the number: 3
3 is a prime number

7

In [ ]:
numbers = [int(x) for x in input("Enter numbers separated by commas: ").split(',')]
reversed_numbers =[]


for i in range(len(numbers) - 1, -1, -1):
    reversed_numbers.append(numbers[i])
print("Reversed list:", reversed_numbers)

Enter numbers separated by commas: 10,40,30,70
Reversed list: [70, 30, 40, 10]

8

In [ ]:
rows = 4
for i in range(1, rows + 1):
    print('*' * i)

*
**
***
****

9

In [ ]:
input_numbers = input("Enter  numbers separated by commas: ")
numbers_list = input_numbers.split(',')
n1, n2, n3 = map(float, numbers_list)
print("The maximum of the three numbers is:", max(n1, n2, n3))

Enter  numbers separated by commas: 34,12,7
The maximum of the three numbers is: 34.0

10

In [ ]:
rows=5
for i in range(rows):
    print('*' * (i + 1))


for i in range(rows - 1, 0, -1):
    print('*' * i)

*
**
***
****
*****
****
***
**
*